@model Course

@{
    ViewData["Title"] = "EditCourse";
    SelectList depts = new SelectList(ViewBag.deptList, "Id", "Name");
    Layout = "_MyLayout";
}

<form method="post" asp-action="EditCourse" asp-controller="Course">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter your Name">
    </div>
    <div class="form-group">
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control" placeholder="Degree.....">
    </div>
    <div class="form-group">
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control" placeholder="Enter your MinDegree">
    </div>
    <div class="form-group">
        <label asp-for="Department.Name"></label>

        <select class="form-control" asp-for="Dept_Id" asp-items="depts">
            <option value="">--Select Department--</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<br />



