<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="~/Images/@Model.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.name</h5>
        <p class="card-text">@Model.description</p>
    <a href="/product/index" class="btn btn-primary">Back</a>
  </div>
</div>