@model TraineeShowResultVM

@{
    ViewData["Title"] = "ShowResult";
}

<div style="padding:50px;color:@Model.Color">

    <h2>@Model.TraineeName</h2>
    <h2>@Model.CousreName</h2>
    <h2>@Model.Degree</h2>

</div>


